{% for label, messages in app.flashes %}
    {% for message in messages %}
    <button class="btn-close"></button>
        <strong>Your account is'nt active yet</strong>, resend activation link
        <div class="alert-message">
            {{ message | raw }}
        </div>
    {% endfor %}
{% endfor %}

